<div class="welcome-splash">
  {{#md-card-collapsible }}
      <!--Register-->
    {{#md-collapsible icon="mdi-action-perm-identity" title="Register"}}
      {{md-input label='First name' value=model.firstName}}
      {{md-input label='Last name' value=model.lastName}}

      {{md-input label='Username' value=model.username}}
      {{md-input label='Password' value=model.password type="password"}}

      {{md-input label='Phone' value=model.phone }}
      {{md-input label='Email' value=model.email type="email"}}

      {{md-select content=gender
      value=model.gender label="Gender" prompt="..." optionLabelPath="content.label"  optionValuePath="content.value"}}
      {{md-input-date label='Date of birth' value=dob }}

      {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit' action='register'}}
    {{/md-collapsible}}
      <!--Login-->
    {{#md-collapsible icon="mdi-communication-vpn-key" title="Login"}}
      {{md-input label='Username' value=model.username}}
      {{md-input label='Password' value=model.password type="password"}}
      {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit' action='login'}}
    {{/md-collapsible}}
  {{/md-card-collapsible}}
</div>